.proj {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.card_body {
  display: flex;
  flex-direction: column;
}
.card_body img {
  width: 300px;
}
